
body{
	background-image: url(img/bg.png);
	background-attachment: fixed;
	background-size: 130%;
	}
div.titulo{
	margin-left: 36.7%;
    margin-right: auto;
	}
div.links{
	width: 97%; 
	}
.lista li{
	list-style-type: none;
	display: inline;
	margin: 0.5% 0.5% 0.5% 0.5%;
	}
div#noticias{
	background-color: #000000;
	margin-left: auto;
    margin-right: auto;
	min-height: 100px;
	height: auto;
	width:60%;
	float:right;
	border-radius:15px;
	}
div#socialclass{
	background-color: #000000;
	margin-left: auto;
    margin-right: auto;
	min-height: 100px;
	height: auto;
	width:20%;
	float:right;
	border-radius:15px;
	}
div#contatodiv{
	background-color: #FFFFFF;
	margin-left: auto;
    margin-right: auto;
	min-height: 100px;
	height: auto;
	width:40%;
	float:right;
	border-radius:15px;
	}
div#espacadores{
	height: 500px;
	width:10%;
	float:right;
	}
div.social1{
	float:clear;
	width:95%;

	margin-top:5px;
	margin-bottom:5px;
	margin-left: auto;
    margin-right: auto;
	}
div.sub{
	width:90%;
	margin-left: auto;
    margin-right: auto;
	padding-left: 2%;
	background-image: url(img/title.png);
	background-attachment: fixed;
	background-position: center center;
	background-size: 100%;
	border-radius:10px;
	font-family: 'Special Elite', cursive;
	
}
div.texto{
	font-family: 'Special Elite', cursive;
	font-size: 1.1em;
	color: #FFFFFF;
	padding-left: 2%;
	padding-right: 2%;
	min-height: 100px;
	height: auto;
	}
div.textoform{
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
	min-height: 100px;
	height: auto;
	}
img.percent{
	width: 7%;
	}
img.titlepercent{
	width: 40%;
	}
img.gear{
	border-radius:15px;
	width:25%;

	}